
body {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

.genericFont {
  color: #0c4eae;
}

.imgFont {
  composes: genericFont;
  /*font-family: SignifyLite;*/
}

*, :after, :before {
  box-sizing: inherit;
}

.App {
  text-align: center;
  display: block;
  border: 2px solid #000;
}
.header2 {
  margin-top: 20px;
  height: 90px;
  background: #fff;
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
}
.header2 h2 {
  margin-top: 35px;
}
.header {
  box-sizing: border-box;
  background-color: white;
  height: 150px;
  /*padding: 10px;*/
  border-bottom: 1px solid #eee;
  overflow-y: auto;
  position: relative;
}

.headerText {
  composes: genericFont;
  margin-top: calc(75px);
  text-align: center;
}

.headerParagraph {
  margin: 15px;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.2em;
  color: #7f8289;
}

.scroll {
  height: 220px;
  box-sizing: border-box;
  /*overflow-y: auto;*/
}

.backBtn {
  /*composes: scrollElements from './Calendar.css';*/
  composes: genericFont;
  font-size: 2em;
  position: absolute;
  left: 35px;
  top: calc(50%);
  border: none;
  background: transparent;
}
.backBtn:hover {
  background: #7f8289;
}

.main {
  font-size: large;
  height: calc(100vh - 90px - 220px - 150px);
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
}
