@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: inherit;
}

.scrollElements {
  position: absolute;
  cursor: pointer;
  top: calc(50% - 43px + 5px);
  height: 83px;
  box-sizing: border-box;
  background: transparent;
  width: 32px;
  outline: 0;
  font-size: large;
}

.scrollElements:focus {
}

.scrollElements:hover {
  border: 2px solid #777;
  transform: scale(1.1);
  padding-top: 2px;
  background: transparent;
}

.leftScrollBtn {
  composes: scrollElements;
  left: 10px;
  border-radius: 16px 0 0 16px;
}

.rightScrollBtn {
  composes: scrollElements;
  right: 10px;
  border-radius: 0 16px 16px 0;
}

.container {
  width: 100%;
  /*height: calc(100% + 20px);*/
  overflow: hidden;
  box-sizing: border-box;
  color: #292a2c;
  position: relative;
}
.container::after {
  position: absolute;
  content: '';
  width:100%;
  height: 15px;
  top: calc(100% - 15px);
  left:0;
  background: #fff;
}
.container ul {
  list-style: none;
}

.container > div {
  margin: auto;
  /*height: 130px;*/
  box-sizing: border-box;
}

.monthContainer {
  height: 70px;
  text-align: left;
  padding: 35px 0 0 35px;
  margin-bottom: 15px;
  font-size: large;
  box-sizing: border-box;
}

.selected {
  color: #2a4795;
  z-index: 2;
}
.selected::before {
  position: absolute;
  z-index: -1;
  content: '';
  background: rgba(241,248,247,0.5);
  border-radius: 25px;
  padding: 25px;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
}

.element {
  background: transparent;
  height: 120px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: large;
  line-height: 1.5em;
  border: none;
  overflow: hidden;
  outline: 0;
}

.element p {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
}
.element:hover {
  transform: scale(1.2);
  padding-top: 5px;
}
.month {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}
