<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href=<%= require("./imgs/favicon.ico") %> rel="icon" sizes="32x32" type="image/ico">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
